.block{

}
.block div{

    height: 350px;

}
.col1{
    background: green;
    float: left;
    width: 200px;
}
.col2{
    background: red;
    width: 200px;
    float: right;

}
.col3{
    background: blue;

}